####### requirements.txt #######

rdflib
git+https://github.com/sati-itas/sparql-rdfs-rewriter.git@main


#reasoning
owlrl

# persistent store
#sqlalchemy

numpy

matplotlib

-e .

-r requirements-dev.txt
